@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../imgs//fondo2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

a {
  text-decoration: none;
}

/* ANIMACIONES INDEX */
.img-menu-index {
  transition: transform 0.6s ease-in-out;
}

.img-menu-index:hover {
  transform: scale(1.08) rotate(2deg);
}

.img-menu-index-izq {
  transition: transform 0.6s ease-in-out;
}

.img-menu-index-izq:hover {
  transform: scale(1.08) rotate(-2deg);
}

@media only screen and (min-width: 767px) {
  .texto-titulo {
    width: 500px;
    font-size: 90px;
    color: rgb(248, 244, 244);
    font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    line-height: 4.4rem;
  }
  .texto-subitutlo {
    width: 500px;
    font-size: 50px;
    color: rgb(248, 244, 244);
    font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
  }
}
.texto-titulo {
  font-size: 70px;
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 4.4rem;
}

.texto-subitutlo {
  font-size: 30px;
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}

.texto-web-boton {
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
}

.contenedor-portada-index {
  padding: 5rem 0 5rem 0;
  height: 25rem;
  background-image: url("../imgs//portada_indezx.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-boton-portada {
  width: 10rem;
  justify-content: center;
}

.contenedor-final-index {
  margin-bottom: 8rem;
}

.custom-toggler {
  display: flex;
  border-color: aliceblue;
  background-color: rgb(255, 255, 255);
  width: 2.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 5px;
}

.texto-titulo-nav {
  font-size: 1.5rem;
  padding-left: 0.7rem;
}

.nav-item {
  padding: 0 1rem 0 1rem;
}

.texto-web-footer {
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
  line-height: 1.8rem;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .container-nosotros {
    justify-content: center;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .container-nosotros-flex {
    margin-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.texto-web-contacto {
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 5.5rem;
  line-height: 4.1rem;
  text-align: center;
}

.texto-web-contacto-lista {
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: left;
}

@media only screen and (min-width: 767px) {
  .container-nosotros {
    margin-top: 7rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
  }
  .separador-nosotros {
    height: 3rem;
  }
}
/* error 404 */
.texto-web-error-1 {
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 4rem;
  line-height: 4.1rem;
  text-align: center;
}

.texto-web-error-2 {
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 4rem;
  line-height: 4.1rem;
  text-align: center;
  font-weight: 200;
}

.nuestras {
  color: white;
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  line-height: 2rem;
}

.burgers {
  color: white;
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 2rem;
}

/* Formato texto general */
.texto-web {
  color: rgb(248, 244, 244);
  font-family: "Oswald", sans-serif, Georgia, "Times New Roman", Times, serif;
}

/*FONDOS TARJETAS MENÚ  */
.fondo_auto {
  background-image: url("../imgs/fondo_tarjeta_autoretato.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo_vangogh {
  background-image: url("../imgs/fondo_tarjeta_vangogh.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo_girasoles {
  background-image: url("../imgs/fondo_tarjeta_girasoles.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo_raices {
  background-image: url("../imgs/fondo_tarjeta_raices.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo_terraza {
  background-image: url("../imgs/fondo_tarjeta_terraza.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo_cuervos {
  background-image: url("../imgs/fondo_tarjeta_cuervos.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo_viñedo {
  background-image: url("../imgs/fondo_tarjeta_viñedo.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo_vincent {
  background-image: url("../imgs/fondo_tarjeta_vincent.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
