/* error 404 */

.texto-web-error-1{
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 4.1rem;
    text-align: center;
}

.texto-web-error-2{
    color: rgb(248, 244, 244);
    font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 4.1rem;
    text-align: center;
    font-weight: 200;
}