*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        background-image: url("../imgs//fondo2.webp");
        background-repeat: no-repeat; 
        background-size: cover; 
        width: 100%;
    }
     
    a {
        text-decoration: none;
      }