@media (min-width: 1000px) {
   
.container-nosotros-flex {
    margin: 4rem 0 8rem 0;
}
}
@media (min-width: 1300px) {
   
    .container-nosotros-flex {
        margin: 8rem 0 12rem 0;
        }
    }
    

    

@media only screen and (max-width: 767px) {

.container-nosotros {
   
    justify-content: center;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;


     }


.container-nosotros-flex {
    margin-top: 5rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
         }

  

        }

        .texto-web-contacto{
            color: rgb(248, 244, 244);
            font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
            font-size: 5.5rem;
            line-height: 4.1rem;
            text-align: center;
        }
        
        .texto-web-contacto-lista {
        
            color: rgb(248, 244, 244);
            font-family: 'Oswald', sans-serif, Georgia, 'Times New Roman', Times, serif;
            font-size: 2.5rem;
            line-height: 3rem;
            text-align: left;
        
        }
        
 @media only screen and (min-width: 767px) {

    .container-nosotros {
        margin-top: 7rem;
        margin-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
    justify-content: center;
         }

         .separador-nosotros {
            height: 3rem;
        }
        .separador-nosotros-bottom {
            height: 10rem;
        }
    }
    @media (max-width: 767px) { 
        .form-control {
          max-width: 250px; 
          
     }
      }